/* css reset */
@import url(./reset.css);

/* general styling */
body {
  min-height: 100%;
  background-color: aquamarine;
  background: url(../assets/image.png);
  background-position: 0 900px;
  animation-name: background;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
@keyframes background {
  from {
    background-position: 0 900px;
  }
  to {
    background-position: 0 1800px;
  }
}

main {
  display: block;
  font-size: 1.8rem;
  padding: 0.9em 0;
  background-color: rgba(255, 166, 0, 0.418);
}

.heading {
  padding: 0.3em;
  text-align: center;
  font-size: 2rem;
}
.heading h1 {
  font-weight: 800;
  padding: 0.6em 0;
}
.heading p {
  font-style: italic;
  font-size: 1.5rem;
  padding: 0.5em 0;
}

form {
  display: none;
  flex-direction: column;
  gap: 0.8em;
  align-items: center;
  font-size: 1.5rem;
}

form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label {
  font-weight: 700;
}
input {
  padding: 0.3em;
  font-size: 1.5rem;
  width: 80vw;
  border: 3px black solid;
  border-radius: 9px;
  border: none;
}
input:valid {
  border: 6px solid rgba(0, 128, 0, 0.74);
}

form .btns {
  display: flex;
  flex-direction: row;
  gap: 0.9em;
  padding: 0.8em;
}
button:hover {
  cursor: pointer;
}

form .add {
  font-size: 1rem;
  padding: 1em 3em;
  font-weight: 800;
  background: linear-gradient(to top, rgb(5, 201, 152), rgb(47, 47, 117));
  color: white;
  font-style: italic;
  border: none;
  border-radius: 990px;
  box-shadow: 3px 8px 6px black;
  transition: ease-out 0.9s;
}
form .add:hover {
  background: green;
  color: black;
}
form .refresh {
  background-color: black;
  color: white;
  padding: 0.9em;
  border-radius: 15px;
  border: none;
}
.refresh:hover {
  background-color: rgba(0, 0, 0, 0.616);
  color: rgb(131, 128, 128);
}
.back {
  background-color: rgb(1, 1, 88);
  color: white;
  padding: 0.9em;
  margin-right: 3em;
  border-radius: 15px;
  align-self: flex-end;
}
.back:hover {
  background-color: rgba(1, 1, 88, 0.404);
  color: rgba(255, 255, 255, 0.5);
}

/* .............tablet|| screen medium........ */
@media screen and (min-width: 950px) {
  input {
    width: 80vw;
  }
}

/*................ large screen.............. */
@media screen and (min-width: 1020px) {
  body {
    background-size: cover;
    display: flex;
    justify-content: center;
  }
  main {
    min-width: 50%;
    margin-top: 5vh;
    padding: 1em 5em;
  }
  input {
    width: 30vw;
  }
  .lib-heading {
    display: flex;
    flex-direction: row;
  }
}

/* ..........display lib section ...........*/
.lib-heading {
  padding-left: 0.5em;
}
#display-library {
  display: flex;
  flex-direction: column;
  gap: 0.9em;
}
.library {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}
.book-card {
  display: flex;
  min-width: 340px;
  flex-direction: column;
  background-color: rgba(180, 132, 8, 0.692);
  padding: 0.9em;
  font-size: 1.5rem;
  border-radius: 9px;
}
.add-book {
  padding: 0.9em;
  margin-right: 5em;
  border-radius: 9px;
  border: none;
  font-weight: 700;
  background-color: green;
  color: white;
  transition: ease-out 0.9s;
}
.add-book:hover {
  background-color: rgba(252, 252, 252, 0.514);
  color: rgb(51, 49, 49);
}
